GO
/****** Object:  Table [dbo].[Models]    Script Date: 15.06.2021 15:50:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](400) NOT NULL,
	[Photo] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 15.06.2021 15:50:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Number] [nvarchar](25) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[ModelId] [uniqueidentifier] NOT NULL,
	[Color] [nvarchar](15) NULL,
	[Size] [nvarchar](5) NULL,
	[Weight] [decimal](8, 2) NULL,
	[StandardCost] [money] NOT NULL,
	[ListPrice] [money] NOT NULL,
	[Photo] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Models] ([Id], [Name], [Category], [Description], [Photo]) VALUES (N'0481d7e1-4970-4efa-a560-020f6579918d', N'LL Fork', N'Forks', N'Stout design absorbs shock and offers more precise steering.', N'fork.jpg')
INSERT [dbo].[Models] ([Id], [Name], [Category], [Description], [Photo]) VALUES (N'ca18ecfd-2023-4fa7-a556-0321153bca34', N'ML Road Frame-W', N'Road Frames', N'Made from the same aluminum alloy as our top-of-the line HL frame, the ML features a lightweight down-tube milled to the perfect diameter for optimal strength. Women''s version.', N'no_image_available.jpg')
INSERT [dbo].[Models] ([Id], [Name], [Category], [Description], [Photo]) VALUES (N'219e2f87-26a9-483b-b968-04578e943096', N'Men''s Bib-Shorts', N'Bib-Shorts', N'Designed for the AWC team with stay-put straps, moisture-control, chamois padding, and leg grippers.', N'no_image_available.jpg')
GO
INSERT [dbo].[Products] ([Id], [Name], [Number], [Category], [Model], [ModelId], [Color], [Size], [Weight], [StandardCost], [ListPrice], [Photo]) VALUES (N'7a927632-99a4-4f24-adce-0062d2d113d9', N'Mountain-400-W Silver, 38', N'BK-M38S-38', N'Mountain Bikes', N'Mountain-400-W', N'6d2fcce4-ffce-4662-a3f8-5d18f0eedcd8', N'Silver', N'38', CAST(11952.10 AS Decimal(8, 2)), 419.7784, 769.4900, N'hotrodbike_f.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Number], [Category], [Model], [ModelId], [Color], [Size], [Weight], [StandardCost], [ListPrice], [Photo]) VALUES (N'ca74b54e-fc30-4464-8b83-019bfd1b2dbb', N'Mountain-100 Silver, 38', N'BK-M82S-38', N'Mountain Bikes', N'Mountain-100', N'fca0665b-b956-489a-a5ec-6f0b4aa14d02', N'Silver', N'38', CAST(9230.56 AS Decimal(8, 2)), 1912.1544, 3399.9900, N'superlight_silver.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Number], [Category], [Model], [ModelId], [Color], [Size], [Weight], [StandardCost], [ListPrice], [Photo]) VALUES (N'87b81a1a-a5b5-43d2-a20d-0230800490b9', N'Road-750 Black, 58', N'BK-R19B-58', N'Road Bikes', N'Road-750', N'2bf795f4-2666-4691-af14-d490c7334a8a', N'Black', N'58', CAST(9430.14 AS Decimal(8, 2)), 343.6496, 539.9900, N'roadster_black.jpg')
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([ModelId])
REFERENCES [dbo].[Models] ([Id])
GO
